body
{
	min-height:910px;
	margin:0 auto;
}

#wrapper
{
	width:1280px;
	background: url('grizzlybg.jpg') no-repeat #2b81af;
	margin:0 auto;
	padding-top: 60px;
}

#dogresults
{
	clear:both;
	text-align:center;
	margin:0 auto;
	padding-top:250px;
	width:800px;
	color:#333333;
}

#dogresults h2
{
	color:#ffffff;
}

#dogresults table
{
	background:url('txt2.png') repeat;
}
